# Slack bot token (xoxb-...)
SLACK_TOKEN=

# Slack app token (xapp-...)
SLACK_APP_TOKEN=

# Slack user token (xoxp-...)
SLACK_USER_TOKEN=

# Slack user ID of the selfbot account
USER_ID=

# Your Slack ID (Used for Hackatime and more)
# Leave empty to use USER_ID.
OWNER_ID=

# Your personal channel ID
PERSONAL_CHANNEL_ID=

# Comma-separated list of user IDs allowed to use admin commands.
# Example: U01234567,U08976543
PERMITTED_USER_IDS=

# Timezone for daily Hackatime recap
# Uses IANA timezones (https://en.wikipedia.org/wiki/List_of_tz_database_time_zones)
TIMEZONE=

# Your LastFM username
LASTFM_USERNAME=

# Your LastFM API key (see README)
LASTFM_TOKEN=